@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  padding-left: 20%;
  padding-right: 15%;
  padding-top: 30px;
  background-color: #000000;
  min-height: 92vh;
  width: 100%;
}

.image-container {
  min-height: 85vh; /* full viewport height */
  width: 100%; /* full width */
  background-color: #000000;
  background-image: url("/images/phone-mockup.png");
  background-repeat: no-repeat;
  background-position: right bottom; /* right side, vertically centered */
  background-size: auto 95%;
}

@media screen and (min-width: 900px) and (max-width: 1470px) {
  .main-container {
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 30px;
  }
}

@media screen and (max-width: 900px) {
  .main-container {
    padding: 0px 20px 20px 0px !important;
  }
  .image-container {
    width: 100%; /* full width */
    background-position: top center; /* right side, vertically centered */
    background-size: contain;
    background-image: url("/images/phone-mobile.png");
    padding-top: 10px;
    padding-left: 20px;
  }
}
