.contentContainer {
  width: 516px;
  margin-top: 50px;
}
.topText {
  font-family: "Urbanist";
  font-weight: 700;
  font-size: 35px;
  color: #fff;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.dropShadowText {
  font-family: "Urbanist";
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #00e7f9;
  font-weight: bold;
  text-shadow: 0 4px 4px #fc004e, 0 0 10px #fc004e;
  padding: 20px 0px 30px 0px;
}
.textBundle {
  font-family: "Figtree";
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-left: 5px;
}
.neonbtn {
  width: 313px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fc004e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 10px #00e7f9; /* neon shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 20px;
}

.buttonText {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  font-family: Figtree;
  line-height: 100%;
  letter-spacing: 0%;
  padding-right: 10px;
}

.neonbtn:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 15px #00e7f9; /* stronger glow on hover */
}

.neonbtn:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 6px #00e7f9;
}

.buttonTxt {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  font-family: Figtree;
  line-height: 16px;
  letter-spacing: 0%;
  width: 313px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}
.bottomText {
  color: #ababab;
  font-weight: 500;
  font-size: 12px;
  font-family: Figtree;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 20px;
}
.reverse {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .contentContainer {
    width: 100%;
    margin-top: 300px;
  }
  .topText {
    font-size: 25px;
    text-align: center;
  }
  .dropShadowText {
    font-size: 25px;
    text-align: center;
    padding: 5px 0px 20px 0px;
  }
  .textBundle {
    font-size: 16px;
  }
  .neonbtn {
    width: 100%;
  }
  .buttonTxt {
    width: 100%;
  }
  .bottomText {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}
